.footer-top{
    height: 400px;
    background-image: url('assets/img/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff
}
.footer-bottom{
    height: 100px;
    display: flex;
    background: #303030;
    color: #fff;
    justify-content: start;
}