.footer-top{
    height: 400px;
    background-image: url('assets/img/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff
}
.footer-bottom{
    padding: 15px;
    height: 180px;
    display: flex;
    align-items: center;
    background: #303030;
    color: #fff;
    justify-content: start;
}