/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*GENERICS STYLE*/
body{
    font-family: 'Roboto Condensed', sans-serif;;
}

.container-foot{
  min-width: 1200px;
  margin: 0 auto;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}


img{
  max-width: 100%;
}

a{
  color: #000;
  text-decoration: none;
}

.z-1{
  z-index: 1;
  position: relative;
}

.active{
    border-bottom: 4px solid #0c7cec;     
}

/*DISPLAY*/
.d-flex-i-center{
  display: flex;
  align-items: center;
}
.d-inline{
  li{
    display: inline;
  }
}
/*MARGIN*/
.mt-2{
  margin-top: 20px;
}
.mr-1{
  margin-right: 10px;
}

.none-style{
  list-style-type: none;
}


